.modifiedVideoStream > video {
  width: 0;
  height: 0;
  display: none;
}

.modifiedVideoStream > canvas {
  height: 300px;
  width: 400px;
  object-fit: cover;
  margin: 8px;
  border-radius: 15px;
  background-color: black;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media (max-width: 1000px) {
  .modifiedVideoStream {
    min-width: 100px;
    min-height: 120px;
  }
}

@media (max-width: 600px) {
  .modifiedVideoStream {
    height: 200px;
    width: 300px;
  }
}
