.roomAuthentication {
  display: flex;
  height: 100%;
  background-color: #212529;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.roomAuthentication__form {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  flex: 0.3;
  background: #2f3640;
  border-radius: 50px;
  padding: 40px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.roomAuthentication__name,
.roomAuthentication__password {
  display: flex;
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 40px;
  color: white;
  border-bottom: 2px solid #434a52;
}
.roomAuthentication__name::placeholder,
.roomAuthentication__password::placeholder {
  color: #434a52;
}

.roomAuthentication__submit {
  flex: 1;
  align-self: flex-end;
  min-width: 60px;
  min-height: 40px;
  max-width: 100px;
  outline: none;
  border-radius: 12px;
  background-color: #242324;
  border: 2px solid #242324;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
  font-size: 13px;
  cursor: pointer;
  padding: 10px;
}
.roomAuthentication__submit svg{
width: 20px;
height: auto;
fill: rgb(199, 192, 192);
}
.roomAuthentication__submit:hover {
  background-color: #4a4e69;
  border-color: #4a4e69;
}

.roomAuthentication__form h1 {
  font-size: 25px;
  margin-bottom: 25px;
  text-align: center;
  text-shadow: 1px 1px 4px black;
  color: rgb(196, 185, 185);
}
